.cardcontainer {
	font-family: 'Palanquin', sans-serif;
	font-weight: bold;
	height:200px;
	display: flex;
	margin-bottom: 10px;
	width:600px;
	background: linear-gradient(white, lightblue);
	border-radius: 25px;
    border: 2px solid grey;
	overflow:hidden;
}

.cardinfocontainer{
	display: flex;
	flex-wrap: wrap;
}

.cardinfoheader {
	width:400px;
	margin-left:10px;
	border-bottom: 1px solid lightgrey;
}

.cardinfodata {
	width:250px;
	margin:0 10px 0 10px;
}

.cardinfonumbers{
	width:150px;
}

.cardtitle{
	font-size: 130%;
	font-weight: bolder;
}

.cardsubtitle{
	font-style: italic;
	font-size: 90%;
}

.cardimage {
  object-fit: cover;
  width:200px;
  height:200px;
}